.form-control {
    display: block;
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    appearance: none;
    background-clip: padding-box;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.is-invalid {
    border-color: #e11d48;
}
.dark .is-invalid {
    border-color: #ff7b7b;
}

.error-msg {
    position: absolute !important;
    display: none;
    color: #dc3545;
    font-size: 11px;
    margin-top: 2px;
}

input:focus {
  outline: none;
  box-shadow: none;
}

